@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #222222;
    --secondary-Color: #f6425f;
    --text-Color: #535967;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #ee8800;
    --error-Color: #fe514c;
    --grey-Color: #7A7A7A;
    --black-Color: #222222;
    --main-Background-Color: #F0F1FA;
    --secondary-Background-Color: #5560C8;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 13px 30px;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --logo-border-radius: 15px;
    --jumbotron-padding: 30px 16px;
    --section-padding:30px 0px;
    --heading:50px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;

}
.fdb-block {
    padding: 0rem 0;
}
/*headere871d461930b46f7*/
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link {
    color: var(--primary-Color);
}

.headere871d461930b46f7 .btnregister {
    background-color: var(--secondary-Color);
    border-radius: 30px;
    padding: 8px 30px;
    color: var(--main-Background-Color);
}
.headere871d461930b46f7 .logo{
    max-width: 60px;
    max-height: 60px;
}
/*abouta4c8deeb2f4571930*/
.abouta4c8deeb2f4571930 h2 {
    font-size: var(--heading);
}
.abouta4c8deeb2f4571930 .para-custom-class{
    font-size: var(--paragraph);
}
.abouta4c8deeb2f4571930 .about {
    padding: 14px 20px;
    border-radius: 30px;
}
.abouta4c8deeb2f4571930 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
/*crunellaobWyteyCWzRLkMG*/
.crunellaobWyteyCWzRLkMG{
    padding: var(--section-padding);
}
.crunellaobWyteyCWzRLkMG .fdb-block h1 {
    font-size: var(--heading-large);
}
.crunellaobWyteyCWzRLkMG .fdb-block {
    padding: 0rem 0;
}
.crunellaobWyteyCWzRLkMG .lead{
    font-size: var(--paragraph);
}
.crunellaobWyteyCWzRLkMG .mt-5{
    margin-top: 1rem !important;
}
/*funtushftac0ssp3mu*/
.funtushftac0ssp3mu h1 {
    font-size: var(--heading-large);
}
.funtushftac0ssp3mu .lead{
    font-size: var(--paragraph);
}
.funtushftac0ssp3mu h3 {
    font-size: var(--heading-large);
    margin-top: 10px;
}
/*quickLinke6e365dd6b7c935a*/
.quickLinke6e365dd6b7c935a {
    padding: var(--section-padding);
}
.quickLinke6e365dd6b7c935a .heading-custom-class{
    font-size: var(--heading-large);
}
.quickLinke6e365dd6b7c935a .para-custom-class{
    font-size: var(--paragraph);
}
.quickLinke6e365dd6b7c935a .btn:hover {
    background-color: var(--error-Color);
}
/*fosterftsjsdoaie6*/
.fosterftsjsdoaie6{
    padding: var(--section-padding);
}
.fosterftsjsdoaie6 .fdb-block {
    padding: 0rem 0;
}
/*aboutd390a380620aac0e*/
.aboutd390a380620aac0e{
    padding: var(--section-padding);
}
.aboutd390a380620aac0e h2 {
    font-size: var(--heading-large);
}
.aboutd390a380620aac0e .para{
    font-size: var(--paragraph);
}
.aboutd390a380620aac0e .video_card>.btn {
    background: transparent
}
/*counterc1486b52e923e265f*/
.counterc1486b52e923e265f{
    padding: var(--section-padding);
}
.counterc1486b52e923e265f .BG {
    background-color: var(--white-Color);
    margin-top: 50px;
}
.counterc1486b52e923e265f h2 {
    color: var(--alert-Color);
    margin-top: 10px;
    font-size: var(--heading-large);
}
.counterc1486b52e923e265f  h4{
    font-size: var(--paragraph);
}
/*bannerb9ce7550acbf1ce9f*/
.bannerb9ce7550acbf1ce9f .button {
    background-color: var(--secondary-Background-Color);
    color: var(--main-Background-Color);
    padding: 14px 20px;
    border-radius: 30px;
}
.bannerb9ce7550acbf1ce9f p{
    font-size: var(--paragraph);
}
.bannerb9ce7550acbf1ce9f .background{
    padding: var(--section-padding);
}
/*clientscca5p4g11jb4*/
.clientscca5p4g11jb4{
    padding: var(--section-padding)
}
.clientscca5p4g11jb4 h1{
    font-size: var(--heading-large);
}
.clientscca5p4g11jb4 .lead{
    font-size: var(--paragraph);
}
.clientscca5p4g11jb4 .btn-primary,
.clientscca5p4g11jb4 .btn-primary:not(:disabled):not(.disabled):active{
    padding: 4rem;
    background-color: var(--secondary-Background-Color);
    color: var(--main-Background-Color);
    padding: 14px 20px;
    border-radius: 30px;
}
/*fishftr6n1ahczo*/
.fishftr6n1ahczo ul li a{
    font-weight: var(--button-font-weight);
}